* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */
body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

h2,
h3,
h4 {
  color: #fff;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

#player a.track-album {
  cursor: pointer;
}

/* UTILITIES */
.flex {
  display: flex;
}

.unstyled-list {
  list-style: none;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.pl20 {
  padding-left: 20px;
}

/* SPOTIFY */
#app {
  flex-direction: column;
  height: 100vh;
}

/* MAIN WINDOW */
#main-window {
  flex-grow: 1;
}

/* SIDEBAR */
#sidebar {
  flex-direction: column;
  flex-basis: 210px;
  padding: 20px 0 5px;
  background: #000;
}

/* spotify menu */
.spotify-menu {
  flex-direction: column;
  flex-grow: 1;
}

/* logo */
.logo {
  height: 40px;
}

.logo img {
  max-height: 40px;
}

.logo-small {
  display: none;
}

/* navigation */
.navigation {
  background: black;
}

.nav-sec {
  align-items: center;
  flex-basis: 25px;
  border-left: 2px solid transparent;
  transition: .2s;
}

.nav-sec img {
  height: 25px;
  opacity: .5;
  transition: .2s;
}

.nav-sec span {
  font-size: 12px;
  margin-left: 5px;
}

.nav-sec:focus img {
    opacity: 1;
}

.playlist-menu {
  font-size: 12px;
}

.playlist-menu li a {
  border-left: 2px solid transparent;
  transition: .2s;
}

.new-playlist {
  align-items: center;
  /* border-left: 2px solid transparent; */
}

.new-playlist span {
  margin-left: 5px;
}

.fa-plus-square {
  font-size: 40px;
}

.navigation a:hover,
.navigation a:hover img,
.playlist-menu a:hover,
.playlist-menu a:hover img,
.install:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.navigation a:focus,
.playlist-menu a:focus {
  color: rgba(255, 255, 255, 1);
  border-left: 2px solid #acfe2e;
}

/* spotify account */
.account {
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.install {
  font-size: 12px;
  padding: 12px 0;
  transition: .2s;
}

.install span,
.account-name h3 {
  margin-left: 5px;
}

.account-name {
  align-items: center;
  padding: 12px 0 2px;
}

.account-name h3 {
  margin-left: 5px;
  transition: .2s;
}

.account-name img {
  background-color: #7f7f7f;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.install:focus,
.account-name:focus h3 {
  color: rgba(172, 254, 46, .8);
}

/* MAIN CONTENT */
#content {
  position: relative;
  flex-grow: 1;
  background: #141921;
}

/* main content top bar */
.top-bar {
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 35px;
  width: 100%;
  height: 85px;
  background: #080b11;
  z-index: 1;
}

.btn-upgrade {
  padding: 10px 30px;
  color: #ededed;
  border: 1px solid;
  border-radius: 25px;
  text-decoration: none;
  transition: .2s;
}

.btn-upgrade:hover {
  transform: scale(1.1);
}

/* main content scrollable section */
.content-scrollable {
  position: absolute;
  top: 0;
  left: 0;
  padding: 85px 10px 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.content-menu {
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 60px;
}

.content-menu ul {
  justify-content: center;
  flex-wrap: wrap;
}

.content-menu ul li:not(:last-of-type) {
  margin-right: 20px;
}

.content-home {
  flex-direction: column;
}

.album-list {
  flex-wrap: wrap;
}

.album-list li {
  margin: 10px 0; /* debug */
  flex-basis: calc(100% / 6 - 20px);
  height: 150px; /* debug */
  background: dodgerblue; /* debug */
  border: 1px solid #fff; /* debug */
}

.album-list li:not(:last-of-type) {
  margin-right: 20px;
}

/* FOOTER */
#player {
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  height: 80px;
  background: #272727;
}

/* song section */
.song {
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.song img {
  width: 40px;
}

.track {
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.track p {
  font-size: 10px;
}

.fa-heart {
  margin-right: 10px;
}

#player a {
  transition: .1s;
}

#player a:hover,
#player a:focus {
  color: rgba(255, 255, 255, 1);
}

#player a.track-title:hover,
#player a.track-title:focus {
  text-decoration: underline;
}

#player a:focus .fa-heart {
  color: #acfe2e;
}

/* controls section */
.controls {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 40%;
  height: 100%;
}

.control-buttons {
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.control-buttons .play {
  font-size: 25px;
}

.progress-bar-section {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.progress-bar {
  position: relative;
  height: 4px;
  background-color: #535353;
  border-radius: 2px;
}

.actual-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 4px;
  background-color: #bababa;
  border-radius: 2px;
  transition: .1s;
}

.bar-end {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -26%);
    height: 10px;
    width: 10px;
    background-color: #bababa;
    border-radius: 50%;
}

.time {
  flex-basis: 5%;
  font-size: 10px;
}

.progress-bar {
  flex-basis: 80%;
}

.progress-bar:hover .actual-bar {
  background-color: #acfe2e;
}

/* volume section */
.volume {
  justify-content: space-between;
  align-items: center;
  flex-basis: 200px;
}

.volume .progress-bar {
  flex-basis: 50%;
}

/* TABLET DEVICES */
@media screen and (max-width: 1200px) {
  .album-list li {
    flex-basis: calc(100% / 4 - 20px);
  }
}

/* SMALL SCREEN DEVICES */
@media screen and (max-width: 600px) {
  /* SIDEBAR */
  #sidebar {
    flex-basis: 50px;
    padding: 5px 10px;
  }

  /* logo */
  .logo {
    justify-content: center;
    /* margin-bottom: 15px; */
    height: 30px;
  }

  .logo-full {
    display: none;
  }

  .logo .logo-small {
    display: block;
    max-height: 30px;
  }

  .nav-sec {
    justify-content: center;
  }

  .nav-sec span {
    display: none;
  }

  .playlist-menu {
    display: none;
  }

  .album-list li {
    flex-basis: calc(100% / 2 - 20px);
  }
}
